
:root {
    --darker:#363672a4;
    --lighter:#93dcdf;
    --white:white;  
    --background: #e2ccf3; 
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    color:var(--darker);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:var(--background);
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:var(--darker);
    background-image: fixed;
    background-position: 100%;
    padding: 35px 35px;
    /*position: sticky;
    position:-webkit-sticky;*/
    z-index: 9999;
    top: 0;
    color: var(--lighter);
    
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;  
}

header a {
    text-decoration: none;
    color:var(--lighter);
}
header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}
header nav ul li a {
    color: var(--lighter);
    margin: 0 30px;
    font-size: 2vw;
    font-weight: lighter;
}

header nav ul li a:hover {
    color: var(--white);
    border-radius: 5px;
}

.hero {
    display: flex;
    background-image: url("./images/IMG_3360_Original\ 6.52.13\ PM.JPG");
    /* background-attachment: scroll; */
    background-size: cover;
    background-position: 100%;
    padding: 250px;
    justify-content: flex-end;
    position: relative;
}

.hero-text {
    position: relative;
    left: 100px;
    background-color: var(--background);
    border-style: inset;
    border-color: var(--darker);
    top: 100px;
    right: 20;
    width: 200px;
    height: auto;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    width: 300px;
}

#about-me, #work, #contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding:30px;
    flex-flow: row ;
}

.section-title {
    font-size: 50px;
    display:flex;
    padding-right: 15px;
    padding-left: 50px;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: right;
    width: 200px;
}

.section-text {
    border-left: 4px solid var(--darker);
    height: 150px;
}
.flex-row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

}

.flex-row p {
    display:flex;
    padding: 0 30px;
    border-left: solid 4px var(--darker);
    align-items: flex-start;
}

/* grid */
.work-grid-wrapper {
    /* display: grid;
    flex-flow: row; */
    border: 4px;
    /* flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: flex-start; */
    border-left: 4px solid var(--darker);
    
}
.work-grid-container {
    display: grid;
    grid-gap: 20px;
    margin: 10px;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    padding: 0 10px;
    border: 4px;

}

.grid-item {
    display: flex;
    border: 5px solid var(--lighter);
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--darker);
    background: var(--background)
}



.grid-item-text {
    /* float: left; */
    /* margin-top: 20px; */
    position: absolute;
    left: 0;
    bottom: 10px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition-duration: 2s;
}

.grid-item-text:hover {
    background-color: black;
    opacity: .8;
}

.item-1 {
    background-image: url("./images/Runbuddylanding.png");
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    /*background-image: url(./images/Screen\ Shot\ 2020-08-05\ at\ 9.00.14\ PM.jpeg);*/
    background-size: cover;
    position: relative;
    /* display: flex; */
    /*justify-content: flex-start;
    align-items: flex-end;
    font-size: 50px;
    font-weight: bold;
    color: var(--darker);
    background: var(--background)*/
    display: block;
    width: 100%;
    min-height: 300px;
    /* background-size: 100%; */
}


/*.item-1 h2, h3 {
    display: flex;
    padding: 0 15px;
    position: relative;
    background-color: var(--background);
    justify-content: flex-start;
    flex-wrap: wrap;
}
*/

.item-2 {
    background-image: url("./images/Horiseon\ screenshot.png");
    grid-column: 3 / span 1;
    grid-row: 1 /span 1; 
    position: relative;
    background-size: cover;
  
}

.item-2, .item-3, .item-4 img, .item-5 {
    width: 100%;
    min-height: 150px;
    display: block;

}

.item-3 {
    background-image: url("./images/coming-soon-construction-yellow-background-design_1017-25509.jpg");
    grid-column: 3 / span 1;
    grid-row: 2 /span 1;
    position: relative;
    background-size: cover;

}

/*.item-3 img {
    display: block;
    max-width: 100%;
    height: auto;
}
*/

.item-4 {
    background-image: url("./images/coming-soon-construction-yellow-background-design_1017-25509.jpg");
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    position: relative;
    background-size: cover;


}

.item-5 {
    background-image: url("./images/coming-soon-construction-yellow-background-design_1017-25509.jpg");
    background-size: cover;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    position: relative;

}

.grid-text-float {
    float: left;
    margin-top: 20px;
}

/* end grid */


.contact {
    display:flex;
    border-left: solid 4px var(--darker);
    align-items: center;
    justify-content: space-between;
    height: 150px;
    flex-wrap: wrap;
    padding: 35px 35px;
    width: 100%;
    list-style: none;  
}

.contact ul {
    margin: 7px 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 20px;
    margin: 0 30px ;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


    

@media screen and(max-width: 800px) {
    .work-grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr); 
        padding: 0 10px;
    }

}