
:root {
    --primary-color: #0adb0a;
    --secondary-color:black;
    --tertiary-color:white;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    color: black;
    font-family: arial, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:var(--primary-color);
    padding: 35px 35px;
    position: sticky;
    position:-webkit-sticky;
    z-index: 9999;
    
}

header h1 {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 40px;
    margin: 0;  
}

header a {
    text-decoration: none;
    color:var(--secondary-color);
}
header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}
header nav ul li a {
    color: var(--secondary-color);
    margin: 0 30px;
    font-size: 2vw;
    font-weight: lighter;
}

header nav ul li a:hover {
    color: var(--tertiary-color);
    border-radius: 5px;
}

.hero {
    display: flex;
    background-image: url("./images/IMG_3360_Original\ 6.52.13\ PM.JPG");
    background-attachment: scroll;
    background-size: cover;
    background-position: 100%;
    flex-wrap: wrap;
    padding: 250px;
    color: var(--primary-color);
}

.hero-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 25px;
    background-color: var(--tertiary-color);
    border-style: inset;
    border-color: var(--primary-color);
    text-align: left;
    margin-left: 50%;
}
.hero-text p {
    color: var(--primary-color);
}


#contact-info {
    background-color: var(--primary-color);
}

#contact-info a {
    color: var(--secondary-color);
    font-style: italic;
    font-weight: bolder;
    text-decoration: none;
}

#contact-info a:hover {
    color:yellow;
}

#contact-info h2, p {
    color: var(--tertiary-color);
}

#contact-info p {
    text-decoration: none;
    color: var(--tertiary-color);
}

.projects h2{
    background-color: var(--primary-color);
}
.projects img {
    width: 100%;
    background-size:cover;
}

.run-buddy {
    display:flex;
    padding: 50px;
    background-attachment: scroll;
    background-size: cover;
    background-position: top;
    flex-wrap: wrap;
    width: 100%;
    
}

    






footer {
    background-color: var(--tertiary-color);
    padding: 15px;

}

footer h2 a{
    color: var(--primary-color);
    display:flex;
    justify-content: center;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;

}