
:root {
    --primary-color: #0adb0a;
    --secondary-color:black;
    --tertiary-color:white;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    color: black;
    font-family: arial, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:var(--primary-color);
    background-image: fixed;
    background-position: 100%;
    padding: 35px 35px;
    position: sticky;
    position:-webkit-sticky;
    z-index: 9999;
    top: 0;
    
}

header h1 {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 40px;
    margin: 0;  
}

header a {
    text-decoration: none;
    color:var(--secondary-color);
}
header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}
header nav ul li a {
    color: var(--secondary-color);
    margin: 0 30px;
    font-size: 2vw;
    font-weight: lighter;
}

header nav ul li a:hover {
    color: var(--tertiary-color);
    border-radius: 5px;
}

.hero {
    display: flex;
    background-image: url("./images/IMG_3360_Original\ 6.52.13\ PM.JPG");
    background-attachment: scroll;
    background-size: cover;
    background-position: 100%;
    flex-wrap: wrap;
    padding: 250px;
    color: var(--primary-color);
}

.hero-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 25px;
    background-color: var(--tertiary-color);
    border-style: inset;
    border-color: var(--primary-color);
    text-align: left;
    margin-left: 50%;
}
.hero-text p {
    color: var(--primary-color);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    height: 500px;
    width: 100%;

}
.projects h2{
    display: flex;
    background-color: var(--primary-color);
    background-size: cover;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.run-buddy img {
    background-attachment: fixed;
    flex-wrap: wrap;
    object-fit: fill;
}

.projects {
    background-attachment: scroll;
    background-size: cover;
    background-color: var(--tertiary-color);
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
}
 .projects h3 {
    display: flex;
    background-color: var(--tertiary-color);
    background-size: cover;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

.project-name img {
    background-attachment: scroll;
    background-size: cover;
    background-position: initial;
    flex-wrap: wrap;
    width: 100%;
    margin:0;
    padding: 0;
}


#contact-info {
    background-color: var(--primary-color);
    padding: 0 20px;
    height: 150px;
}

#contact-info a {
    color: var(--secondary-color);
    font-style: italic;
    font-weight: bolder;
    text-decoration: none;
}

#contact-info a:hover {
    color:yellow;
}

#contact-info h2, p {
    display: flex;
    color: var(--tertiary-color);
    justify-content: center;
}

#contact-info p {
    text-decoration: none;
    color: var(--tertiary-color);
    padding: 10px;
    text-align: left;
}
    






footer {
    background-color: var(--tertiary-color);
    padding: 15px;

}

footer h2 a{
    color: var(--primary-color);
    display:flex;
    justify-content: center;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;

}
/* Media queries for desktops and smaller */
@media screen and (max-width: 980px) {
    header {
        position: relative;
        padding-bottom: 0;
        justify-content: center;
    }
    .run-buddy img {
        position: relative;
        justify-content: center;
    }

    .hero{
        width: 100%;
    }

    
/* media queries for desktops and smaller */
@media screen and (max-width: 768px) {
    .project-name img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;    }

}

@media screen and (max-width: 575px) {
    .hero {
    }
}
